.title {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 0.5em;
}
.user {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2em;
  .info {
    margin-left: 1em;
    .name {
      font-size: 1.2em;
      font-weight: bolder;
    }
    .date {
      font-size: 0.8em;
      color: #86909c;
      margin-right: 1em;
    }
    .views {
      font-size: 0.8em;
      color: #86909c;
      margin-right: 1em;
    }
  }
}